<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box my-4">
      <img mat-card-image src="assets/img/logo-muni.png" />
      <mat-card-header>
        <mat-card-title>Sistema de trámite virtual y atención al ciudadano</mat-card-title>
        <mat-card-subtitle class="mt-4">Iniciar sesión </mat-card-subtitle>
      </mat-card-header>

      <span class="mat-error my-2" *ngIf="authError$ | async">{{authError$ | async}}</span>
  
      <form class="example-form" [formGroup]="form" (submit)="login()" >
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input 
                matInput 
                placeholder="E-mail"
                type="email"
                name="email"
                formControlName="email"
                required>
                <mat-error *ngIf="form.get('email').invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input 
                matInput 
                type="password" 
                placeholder="Contraseña"
                name="password"
                formControlName="password"
                required>
                <mat-error *ngIf="form.get('password').invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </mat-card-content>

        <button mat-stroked-button color="accent" class="btn-block" [disabled]="!form.valid" *ngIf="!(isLoading$ | async)" >Iniciar Sesión</button>

        <mat-progress-spinner mode="indeterminate" diameter="35" style="margin:8px auto;" *ngIf="isLoading$ | async"></mat-progress-spinner>
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>
            <a routerLink="/registro" fxLayout="row" fxLayoutAlign="center">Olvidé mi contraseña</a>
          </mat-grid-tile>
          <mat-grid-tile>
            <a routerLink="/registro" fxLayout="row" fxLayoutAlign="center">Quiero registrarme</a>
          </mat-grid-tile>
        </mat-grid-list>
        <a routerLink="/registro" fxLayout="row" fxLayoutAlign="center">No recibí el correo de confirmación</a>
      </form>
    </mat-card>
  
  </div>
  <app-copyright></app-copyright>