<div id="wrapper" >
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-toolbar></app-toolbar>
            <div class="container mt-4">
                <!-- Content Row -->
                <div class="row">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h1 class="h3 mb-0 text-gray-800">Listado de Trámites</h1>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nro. Ticket</th>
                                            <th>Ciudadano</th>
                                            <th>Trámite</th>
                                            <th>Tipo</th>
                                            <th>Fecha</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of items" [ngSwitch]="item.estado">
                                            <td>{{item.numero}}</td>
                                            <td>{{item.ciudadano}}</td>
                                            <td>{{item.tramite}}</td>
                                            <td>{{item.tipo}}</td>
                                            <td>{{item.fechaCreacion}}</td>
                                            <td>
                                                <span *ngSwitchCase="'RECIBIDO'" class="badge badge-primary">{{item.estado}}</span>
                                                <span *ngSwitchCase="'EN_TRAMITE'" class="badge badge-info">{{item.estado}}</span>
                                                <span *ngSwitchCase="'OBSERVADO'" class="badge badge-warning">{{item.estado}}</span>
                                                <span *ngSwitchCase="'APROBADO'" class="badge badge-success">{{item.estado}}</span>
                                                <span *ngSwitchCase="'FINALIZADO'" class="badge badge-secondary">{{item.estado}}</span>
                                            </td>
                                            <td>
                                                <div class="example-button-row">
                                                    <div class="example-flex-container">
                                                        <a mat-icon-button title="Click para ver los detalles de su Trámite" (click)="open(content, item)">
                                                            <mat-icon>visibility</mat-icon>
                                                        </a>
                                                        <a mat-icon-button title="Click para levantar las observaciones de su Trámite">
                                                            <mat-icon>edit</mat-icon>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <mat-paginator [pageSizeOptions]="[10, 20, 30]" [length]="items.length" showFirstLastButtons></mat-paginator>
                                <h5 class="mt-2" *ngIf="items.length==0">El ciudadano no cuenta con trámites registrados</h5>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <app-copyright></app-copyright>
    </div>
</div>
<!-- End of Page Wrapper -->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Solicitud de trámite</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">Solicitud Nro:</div>
                <div class="col-md-6">{{detail.numero}}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Nombre:</div>
                <div class="col-md-6">{{detail.ciudadano}}</div>
            </div>
            <div class="row">
                <div class="col-md-6">DNI:</div>
                <div class="col-md-6">{{detail.numero}}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Trámite:</div>
                <div class="col-md-6">{{detail.tramite}}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Fecha creación:</div>
                <div class="col-md-6">{{detail.fechaCreacion}}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Fecha de actualización:</div>
                <div class="col-md-6">{{detail.fechaModificacion}}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Estado de trámite:</div>
                <div class="col-md-6">{{detail.estado}}</div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <h6>Requisitos adjuntos</h6>
                <ul *ngFor="let adjunto of detail.adjuntos">
                    <li><a href="https://docs.google.com/viewer?url={{adjunto.adjunto}}" target="_blank">{{adjunto.nombre}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="modal.close('imprimir')">imprimir</button>
    </div>
  </ng-template>