<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-text mx-3">Sistrado</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Trámites
    </div>

    
    <li class="nav-item">
        <a class="nav-link" routerLink="/pending-procedures">
            <i class="fas fa-fw fa-file"></i>
            <span>Trámites pendientes</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="/review-procedures">
            <i class="fas fa-fw fa-file"></i>
            <span>Revisión de trámites</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="/approve-procedures">
            <i class="fas fa-fw fa-file"></i>
            <span>Aprobar trámites</span></a>
    </li>

</ul>
<!-- End of Sidebar -->